$breakpointMobile: 375px;
$breakpointTablet: 768px;


$mobile: '(max-width: #{$breakpointMobile})';
$tablet: '(max-width: #{$breakpointTablet})';
$desktop: '(min-width: #{$breakpointTablet})';

:export {
  breakpointMobile: $breakpointMobile;
  breakpointTablet: $breakpointTablet;
  mobile: unquote($mobile);
  tablet: unquote($tablet);
  desktop: unquote($desktop);
}
