@import '../../assets/style/colors.module.scss';
@import '../../assets/style/media.module.scss';

.container {
    box-sizing: border-box;
	display: flex;
	background-color: $primary;
	padding: 10px 10px;
	align-items: center;
	justify-content: center;
}

.itemsArea {
    display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.row {
    display: flex;
	flex-direction: row;
	align-items: center;
}

.menuIcon {
    display: flex;
    padding-right: 10px;
    justify-content: center;
}

.drawerItem {
    text-decoration: none;
    display: inline-block;
    color: $primary;
    font-weight: bold;
}

@media #{$desktop} {
    .menuIcon {
        display: none;
    }
}