@import '../../../../assets/style/colors.module.scss';
@import '../../../../assets/style/media.module.scss';

.item {
    color: $white;
	padding: 10px 20px;
	margin: 0 15px;
	border: 1px solid $white;
	border-radius: 7px;
	display: inline-block;
	text-decoration: none;
}

@media #{$tablet} {
    .item {
        display: none;
    }
}