.item {
  display: flex;
  justify-content: center;
  align-items: center;

  &__suggestionItem {
    padding-top: 16px;
  }
}

.suggestionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}
